<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet> 
	    <servlet-name>InitializeEnigmaServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.InitializeEnigmaServlet</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>EnigmaEncipherServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.EnigmaEncipherServlet</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>EnigmaResetServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.EnigmaResetServlet</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>OhaversAlgorithmServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.ohavers.OhaversAlgorithmServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShuffleTranspositionEncipherServlet</servlet-name>
		<servlet-class>net.johnnyconsole.servlets.transposition.shuffle.ShuffleTranspositionEncipherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShuffleTranspositionDecipherServlet</servlet-name>
		<servlet-class>net.johnnyconsole.servlets.transposition.shuffle.ShuffleTranspositionDecipherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaesarServlet</servlet-name>
		<servlet-class>net.johnnyconsole.servlets.caesar.CaesarServlet</servlet-class>
	</servlet>
</web-app>