<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet> 
	    <servlet-name>InitializeEnigmaServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.InitializeEnigmaServlet</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>EnigmaEncipherServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.EnigmaEncipherServlet</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>EnigmaResetServlet</servlet-name> 
	    <servlet-class>net.johnnyconsole.servlets.enigma.EnigmaResetServlet</servlet-class>
	</servlet>
</web-app>